{% extends "AppHowto/padre.html" %}
{% block contenido_que_cambia %}

<h1>About us</h1>

Somos Beto, Pedro y Juana. Veinteañeros. Ingenieros. Tres amigos que nos unimos bajo la necesidad de buscar una solución a las consultas del día a día. 
<h3>No somos Google</h3>    
Somos una comunidad que se nutre del conocimiento de cada individuo y nos hace parte de un todo.
<br>
En nuestro sitio cada uno de ustedes puede generar contenido registrando sus saberes bajo la temática de “How to…” y también navegar en la inquisición de conocer más cada día. Aquí podrás encontrar desde recetas de cocinas hasta formas de cambiar un neumático. 
<br>
<br>
Y, acordate, esto es tuyo, mío y nuestro, lo utilicemos con conciencia. 
<br>
<br>
Esperamos que lo disfrutes y que sigamos creciendo juntos!  


{% endblock %}